python-dotenv
fastapi
uvicorn[standard]
httpx
transformers
torch
soundfile # Pode ser útil para carregar/processar áudios se o Whisper tiver problemas
google-cloud-texttospeech
google-auth
google-auth-oauthlib # Se for usar service account para TTS
boto3